name: Build & Publish

on:
  #push:
  #  branches: [main, master]
  workflow_dispatch:

env:
  SDK_BASE_URL: "https://github.com/${{ github.actor }}/ultralight-sdk/releases/download/v1.4.0"

permissions:
  packages: write
  contents: read

jobs:
  build-platform:
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: win-x64
            sdk_asset: ultralight-free-sdk-1.4.0-win-x64.7z
          - os: ubuntu-latest
            platform: linux-x64
            sdk_asset: ultralight-free-sdk-1.4.0-mac-x64.7z
#          - os: macos-latest-large
#            platform: mac-x64
#            sdk_asset: ultralight-free-sdk-1.4.0-mac-x64.7z
#          - os: macos-latest
#            platform: mac-arm64
#            sdk_asset: ultralight-free-sdk-1.4.0-mac-arm64.7z

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install 7zip (macOS)
        if: runner.os == 'macOS'
        run: brew install p7zip

      - name: Download SDK
        working-directory: native
        shell: bash
        run: |
          curl -L -o sdk-archive.7z \
            --request GET
            --url "${{ env.SDK_BASE_URL }}/${{ matrix.sdk_asset }}" \
            --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            --header "X-GitHub-Api-Version: 2022-11-28"

          7z x sdk-archive.7z -osdk
          ls sdk/

      - name: Rename libraries
        working-directory: native
        run: |
          python scripts/rename_libs.py \
            --platform ${{ matrix.platform }} \
            --input-dir sdk/bin \
            --output-dir renamedlibs

      - name: Configure CMake
        working-directory: native
        run: |
          cmake -B build \
            -DCMAKE_BUILD_TYPE=MinSizeRel \
            -DULTRALIGHT_SDK_DIR=${{ github.workspace }}/native/sdk \
            -DULTRALIGHT_PLATFORM=${{ matrix.platform }} \
            -DRENAMED_LIB_DIR=${{ github.workspace }}/native/renamedlibs \

      - name: Build
        working-directory: native
        run: cmake --build build --config MinSizeRel

      - name: Install to platform resources
        working-directory: native
        run: cmake --install build --config MinSizeRel

      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: ./gradlew :platform:publish -Pplatform=${{ matrix.platform }}

  build-shared:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: ./gradlew :shared:publish